__pycache__/Fish.cpython-37.pyc
.vscode/.ropeproject/objectdb
.vscode/.ropeproject/config.py
test2.py
tempCodeRunnerFile.py
__pycache__/Table_Tidier.cpython-37.pyc
__pycache__/Fish.cpython-36.pyc
__pycache__/Table_Tidier.cpython-36.pyc
